/* ======== ОБЩИЕ ======== */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #f5f4fa;
  --secondary-button-bgc: #188ce8;

  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --card-set-gap: 30px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
.text {
  color: #757575;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* ======== КНОПКА ======== */

.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  align-items: center;

  font-family: inherit;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button--primary {
  width: 200px;
  height: 50px;
  padding: 0;
  justify-content: center;

  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary:hover,
.button--primary:focus {
  background-color: #188ce8;
}

.button.current {
  background-color: #2196f3;
  color: #ffffff;
}

/* ======================== ШАПКА ======================== */
.header {
  border-bottom: 1px solid #ececec;
}
.header--container {
  display: flex;
}
.navigator {
  display: flex;
  align-items: center;
}

/* Логотип */

.navigator__logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.navigator__logo--accent {
  color: #000000;
}

/* бот лого */
.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer__logo--accent {
  color: #ffffff;
}
/* навигация */
.site-nav {
  display: flex;
  list-style: none;
}
.site-nav__link {
  padding: 32px 0px;
  position: relative;

  text-decoration: none;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link::after {
  content: '';
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
  bottom: 0px;
  right: 0px;

  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.site-nav__link:hover::after {
  transform: scaleX(1);
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__current::after {
  transform: scaleX(1);
}
.site-nav__current {
  color: #2196f3;
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contact-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  list-style: none;
}

.contact-nav__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;

  text-decoration: none;
  color: #757575;
  fill: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav__link:hover,
.contact-nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contact-nav__icon-envelope {
  margin-right: 10px;

  width: 16px;
  height: 12px;
}

.contact-nav__icon-smartphone {
  margin-right: 10px;

  width: 10px;
  height: 16px;
}

/* ======================== ГЕРОЙ ======================== */

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-size: cover;
  background-position: center;

  background-color: #2f303a;

  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ======================== МОДАЛКА ======================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 581px;
  width: 528px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  width: 30px;
  height: 30px;
  background-color: #ffffff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  fill: #2196f3;
}
.contact-model {
  margin-bottom: 20px;
}

.title-form {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form-filed {
  display: block;
  margin-bottom: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}
.form-rel {
  position: relative;
  margin-bottom: 10px;
}
.form-input {
  padding-left: 42px;
  height: 40px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:valid {
  border-color: #4caf50;
}

.icon-label {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .icon-label,
.form-input:hover,
.form-input:focus + .icon-label,
.form-input:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.comment:hover,
.comment:focus {
  border-color: #2196f3;
}
textarea {
  resize: none;
}

.agreement-filed {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  justify-content: space-evenly;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}
.contract-link {
  color: #2196f3;
}
.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/Vector\ .svg);
}
.checkbox:checked + .check-icon {
  background-color: #2196f3;
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}
.checkbox:focus + .check-icon {
  box-shadow: var(--card-shadow);
}
/* ======== ФИЛЬТР ======== */
.filters-flex {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters.list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding: 0px;
  width: 611px;

  justify-content: space-between;
}

/* ======================== ОСОБЕННОСТИ ======================== */
/* Карточки */
.features {
  padding-top: 94px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;

  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}
.card-set__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.thumb {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  background-color: #f5f4fa;
}

.thumb__icon {
  width: 70px;
  height: 70px;
}

.card-set__title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.card-set__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ======================== НАШИ ПРОЕКТЫ ======================== */
.contact-card {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.title-card {
  margin-bottom: 4px;

  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.contact-card .text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.card-project {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-project:focus,
.card-project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.animation {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  transform: translateY(100%);

  top: 0;
  padding: 63px 23px;
  width: 100%;
  height: 100%;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus .overlay,
.link:hover .overlay {
  transform: translateX(0);
}

/* ======================== ЧЕМ МЫ ЗАНИМАЕМСЯ ======================== */

.work {
  padding-top: 94px;
  padding-bottom: 94px;

  position: relative;
}

.work__title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.card-set__item--primary {
  position: relative;
}
.card-set__item--primary {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.card-set__item--primary {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.card-set__item--primary:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.lable {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(47, 48, 58, 0.8);
}
.lable__title--job {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/* ======================== НАША КОМАНДА ======================== */

.team {
  background-color: #f5f4fa;
}

.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.card-set__item--direction {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name-card {
  padding: 30px 32px;
}
.name-card__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
}

.name-card__text {
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.name-card__icons {
  display: flex;
  justify-content: space-between;
}
.name-card__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: rgba(175, 177, 184, 1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  width: 20px;
  height: 20px;
}

.name-card__icon-link:focus,
.name-card__icon-link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

/* ======== ПОСТОЯННЫЕ КЛИЕНТЫ ======== */

.client__container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.card-set__clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  fill: rgba(175, 177, 184, 1);
}

.card-set__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: rgba(175, 177, 184, 1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__icon-link:hover,
.card-set__icon-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/* ======== ПОДВАЛ ======== */

.bot {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: #2f303a;
}
.bot__container {
  padding-top: 0px;
  display: flex;
  align-items: baseline;
}
.bot-nav {
  padding: 0px;
  min-width: 231px;

  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.bot-nav > .item:not(:last-child) {
  margin-bottom: 9px;
}

.maps {
  color: #ffffff;
  text-decoration: none;
}

.bot-nav .link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bot-nav .link:hover,
.bot-nav .link:focus {
  color: #2196f3;
}
.bot-social {
  padding: 0px;
}
.bot-social .link {
  fill: #757575;
}
.join {
  margin-bottom: 20px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.bot-icons {
  min-width: 206px;
  margin-right: 93px;
}
.bot-icons .list {
  display: flex;
  justify-content: space-between;
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-icons .icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bot-icons .icon-link:focus,
.bot-icons .icon-link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer {
  display: inline-block;
  margin-right: 70px;
}

.icon-send {
  margin-left: 10px;
}
.subscribe {
  display: block;
}
.subscribe-email {
  display: flex;
}
.subscribe-email .button.primary {
  padding-left: 29px;
  padding-right: 28px;
  margin: 0px;
}
.input-footer {
  width: 358px;
  height: 50px;

  padding-left: 16px;
  color: #757575;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer:hover,
.input-footer:focus {
  border-color: #2196f3;
  outline: none;
}
.sub-label {
  margin-right: 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
