.bot {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: #2f303a;
}
.bot__container {
  padding-top: 0px;
  display: flex;
  align-items: baseline;
}

.footer {
  display: inline-block;
  margin-right: 70px;
}

.bot-nav {
  padding: 0px;
  min-width: 231px;

  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.bot-nav__item:not(:last-child) {
  margin-bottom: 9px;
}

.bot-nav__maps {
  color: #ffffff;
  text-decoration: none;
}

.bot-nav__link {
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bot-nav__link:hover,
.bot-nav__link:focus {
  color: #2196f3;
}

.bot-info {
  min-width: 206px;
  margin-right: 93px;
}
.footer__text {
  margin-bottom: 20px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.bot-social {
  display: flex;
  justify-content: space-between;
}
.bot-social__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-social__icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bot-social__icon-link:focus,
.bot-social__icon-link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}
.subscribe {
  display: block;
}
.subscribe-form {
  display: flex;
}
.sub-label {
  margin-right: 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.sub-label__input-footer {
  width: 358px;
  height: 50px;

  padding-left: 16px;
  color: #757575;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-label__input-footer:hover,
.sub-label__input-footer:focus {
  border-color: #2196f3;
  outline: none;
}
