.filters-flex {
  padding-top: 94px;
  padding-bottom: 94px;
}
.nav-btn {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding: 0px;
  width: 611px;

  justify-content: space-between;
}
